<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <appSettings>
    <!-- UAT-->
    <!--<add key="ServiceUrl" value="https://krapancheck.cvlindia.com/CVLPanInquiry.svc"/>
    <add key="SoapAction_EncryptPassword" value="https://krapancheck.cvlindia.com/ICVLPanInquiry/GetPassword"/>
    <add key="BodyUrl" value="https://krapancheck.cvlindia.com"/>
    <add key ="SoapAction_PanInquiry" value ="https://krapancheck.cvlindia.com/ICVLPanInquiry/GetPanStatus"/>   
    <add key ="SoapAction_PanDetailsAll" value ="https://krapancheck.cvlindia.com/ICVLPanInquiry/SolicitPANDetailsFetchALLKRA"/>-->
    
    <!-- Live-->
    <add key="ServiceUrl" value="https://pancheck.www.kracvl.com/CVLPanInquiry.svc"/>
    <add key="SoapAction_EncryptPassword" value="https://pancheck.www.kracvl.com/ICVLPanInquiry/GetPassword"/>
     <add key="BodyUrl" value="https://pancheck.www.kracvl.com"/>
    <add key ="SoapAction_PanInquiry" value ="https://pancheck.www.kracvl.com/ICVLPanInquiry/GetPanStatus"/>
    <add key ="SoapAction_PanDetailsAll" value ="https://pancheck.www.kracvl.com/ICVLPanInquiry/SolicitPANDetailsFetchALLKRA"/>
    
  </appSettings>
  
</configuration>

